<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="footer">
    <footer class="footer">
        <div class="container footer__inner">
            <div class="footer__col">
                <h4>НейроКаталог</h4>
                <p>Каталог нейросетей с отзывами и рейтингом. Найдите лучший инструмент для ваших задач.</p>
            </div>
            <div class="footer__col">
                <h4>Навигация</h4>
                <a href="/neuronets">Каталог</a>
                <a href="/neuronets/top">Топ нейросетей</a>
                <a href="/categories">Категории</a>
            </div>
            <div class="footer__col">
                <h4>Контакты</h4>
                <p>info@neurocatalog.ru</p>
                <p>© 2026 НейроКаталог</p>
            </div>
        </div>
    </footer>
</th:block>
</body>
</html>